.logButton1 {
    position: relative;
    margin-left: 80%;
    margin-top: 0%;
    width: 10%;
    height: 10%;
    background-color: #79a8a9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.logIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-span:hover {
    text-decoration: underline;
}
.image {
    width: 25%;
    height: 50%;
}
